extends /_templates/_default
block append variables
  -
    var path = '../'
    var Title = 'about'
    var Description = ''
    var imgPath = `${path}assets/img/`
    var imgWebpPath = `${path}assets/img/`
    var Noindex = false // ページをnoindexにさせる場合true
block content
  p.p-top アバウトページ
  p
    a(href='/') topページへ
  p imgタグ
  p
    +sourceImg("sample", "png", 'ダミー画像')
  p 背景画像
  p.img-back
