extends /_templates/_default
block append variables
  -
    var path = '../'
    var Title = 'about'
    var Description = ''
    var imgPath = `${path}assets/img/`
    var imgWebpPath = `${path}assets/img/webp/`
    var imgAvifPath = `${path}assets/img/avif/`
    var Noindex = false // ページをnoindexにさせる場合true
block content
  p.p-top アバウトページ
  p
    a(href='/') topページへ
  p imgタグ
  p
    +sourceImg("sample1", "jpg", 'ダミー画像1')
    +sourceImg("sample2", "png", 'ダミー画像2', 'single')
  p 背景画像
  p.img-back
