extend /_templates/_default
append variables
  -
    var path = "../"
    var pageName = "about"
    var Title = "about"
    var Description = ""
block content
  p アバウトページ
  a(href="/#aaaa") トップページの下へ行く
  a(href='/') topページへ