extends /_templates/_default
block append variables
  -
    var path = '../'
    var Title = 'about'
    var Description = ''
    var imgPath = `${path}assets/img/`
    var imgWebpPath = `${path}assets/img-webp/`
    var Noindex = false // ページをnoindexにさせる場合true
block content
  p アバウトページ
