extends /_templates/_default
block append variables
  -
    var path = '../'
    var Title = 'about'
    var Description = ''
    var imgPath = `${path}assets/img/`
    var Noindex = false // ページをnoindexにさせる場合true
block content
  p アバウトページ
  p
    a(href='/') topページへ
