extends /_templates/_default
append variables
  -
    var path = "./"
    var pageName = "top"
    var Title = "top"
    var Description = ""
block content
  a(href="#aaaa") ページの下へ行く
  p トップページ
  p トップページ
  p#aaaa トップページ
  a(href='/about') aboutページへ