extends /_templates/_default
block append variables
  -
    var path = './'
    var Title = 'top'
    var Description = ''
    var imgPath = `${path}assets/img/`
    var imgWebpPath = `${path}assets/img/`
    var Noindex = false // ページをnoindexにさせる場合true
block content
  p.p-top トップページ
  p.c-text コンポーネントのスタイルああ
  button(type='button') ボタン
  p.
    テキスト
  p
    | テキスト
  p
    a(href='/about') aboutページへ
  p imgタグ
  p
    +sourceImg("sample", "png", 'ダミー画像')
  p 背景画像
  p.img-back
