/* # =================================================================
# Global selectors
# ================================================================= */
html
	box-sizing border-box

*
	margin 0
	padding 0

*
::before
::after
	box-sizing inherit
	background-repeat no-repeat

::before
::after
	vertical-align inherit
	text-decoration inherit

/* # =================================================================
# General elements
# ================================================================= */
audio:not([controls])
	display none
	height 0

article
aside
details
figcaption
figure
footer
header
main
menu
nav
section
summary
	display block

[hidden]
template
	display none

[data-scroll]
	cursor pointer

a
	background-color transparent
	color inherit
	text-decoration none
	-webkit-text-decoration-skip objects
	&:active
	&:hover
		outline-width 0

b
strong
	font-weight bolder

ul
ol
	list-style none

/* # =================================================================
# Forms
# ================================================================= */
input
button
textarea
select
	margin 0
	padding 0
	border none
	border-radius 0
	background none
	background-color transparent
	color inherit
	font inherit
	appearance none

optgroup
	font inherit

button
[type='button']
[type='reset']
[type='submit']
[role='button']
	cursor pointer

[disabled]
	cursor default

[type='number']
	width auto

[type='search']
	-webkit-appearance textfield

textarea
	overflow auto
	resize vertical

button
	overflow visible

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner
[type='button']::-moz-focus-inner
[type='reset']::-moz-focus-inner
[type='submit']::-moz-focus-inner
	padding 0
	border-style 0

/* Replace focus style removed in the border reset above */
button:-moz-focusring
[type='button']::-moz-focus-inner
[type='reset']::-moz-focus-inner
[type='submit']::-moz-focus-inner
	outline 1px dotted ButtonText

button
html [type='button']
[type='reset']
[type='submit']
	-webkit-appearance button

button
select
	text-transform none

select
	-moz-appearance none
	-webkit-appearance none
	&::-ms-expand
		display none
	&::-ms-value
		color currentColor

legend
	display table
	max-width 100%
	border 0
	color inherit
	white-space normal

::-webkit-file-upload-button
	font inherit
	-webkit-appearance button

[type='search']
	outline-offset -2px
	-webkit-appearance textfield

/* # =================================================================
# Specify media element style
# ================================================================= */
img
	border-style none
	vertical-align bottom

progress
	vertical-align baseline

svg:not(:root)
	overflow hidden

audio
canvas
progress
video
	display inline-block

/* # =================================================================
# Accessibility
# ================================================================= */
@media screen
	[hidden~='screen']
		display inherit
	[hidden~='screen']:not(:active):not(:focus):not(:target)
		position absolute !important
		clip rect(0 0 0 0) !important

[aria-busy='true']
	cursor progress

[aria-controls]
	cursor pointer

[aria-disabled]
	cursor default

/* # =================================================================
# Selection
# ================================================================= */
::-moz-selection
::selection
	background-color #b3d4fc
	color #000
	text-shadow none
