//- layout data
include _data/_variable
include _data/_meta
include _data/_gtm
//- components
include /module/_GlobalHeader
include /module/_GlobalFooter


block variables
  - 
    var bodyClass = (relativePath.match(/^[a-zA-Z0-1\-\_]*?(?=\/)/) || 'top') + 'BodyWrapper'
doctype html
html(lang="ja")
  head
    +meta(path)
  body(class=bodyClass)
    +gtm
    +GlobalHeader(path)
    block content
    +GlobalFooter(path)
    script(src=path+"assets/js/bundle.js")