//- layout data
include /_data/_variable
include _headdata/_meta
include _headdata/_gtm
//- mixin
include /_mixin/_sourceImage
//- components
include /_modules/_GlobalHeader
include /_modules/_GlobalFooter

block variables
doctype html
html(lang='ja')
  head
    +meta
  body
    //- +gtm
    +GlobalHeader
    .mainWrapper(data-barba='wrapper')
      main(data-barba='container')
        block content
    +GlobalFooter
    //- script(
    //-   src='//instant.page/1.1.0',
    //-   type='module',
    //-   integrity='sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp'
    //- )
