@use "~/scss/foundation/" as global;
.p-top {
  z-index: global.zIndex('header');
  display: flex;
  @include global.MixinWrapperWidth(1280, 'full');
  @include global.MixinFontSize(14, 40);
  @include global.custom-breakpoint(1000) {
    font-size: 20px;
  }
}

.img-back {
  width: 237px;
  height: 153px;
  background: url('/assets/img/min/sample1.jpg');
  background-size: cover;
}
