html
body
	background MixinColorPalette(back)

body
	color MixinColorPalette(text)
	font-size (16 / FontSize_Default) * 100%
	font-family FontFamily_Default
	text-rendering optimizeLegibility

button
	cursor pointer

a
	color inherit
	text-decoration none

main
	display block
	height 200vh //スクロールするため、仮追加

[data-whatinput='mouse'] *:focus
[data-whatinput='touch'] *:focus
	outline none